$theme-colors: ("primary": #2062a0,
    "light": #e3e3e6,
    "dark": #151420,
    "white-smoke": #F5F5F5,
    "dark-accent": #6ca6c3,
    "light-accent": #536a89,
    "disabled": #C0C0C0,
);

.d-none {
    display: none !important;
}

.shadowed {
    box-shadow: 5px 10px 8px #888888;
}

.cursor-pointer {
    cursor: pointer;
}

@import "node_modules/bootstrap/scss/bootstrap";