[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
django-crispy-forms = "*"
django-bootstrap4 = "*"
django-nvd3 = "*"
django-bower = "*"

[requires]
python_version = "3.7"
