[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
django = "==3.0.6"
django-crispy-forms = "*"
django-mathfilters = "*"
python-dotenv = "*"
django-fontawesome-5 = "*"
django-reusable-components = "*"

[requires]
python_version = "3.8"
