{% load crispy_forms_tags %}
{% load static %}
{% load get_obj_attr %}
{% load zip_lists %}
{% load no_snake %}
{% load humanize %}
{% block content %}
<div class="bg-white rounded shadowed">
    <div class="container-fluid">
        <div class="row rounded-top py-3 border py-4 bg-dark text-light">
            <div class="col text-center">
                <h5>Item</h5>
            </div>
            {% for field in form.visible_fields %}
            <div class="col text-center">
                <h5>{{ field.name|title|no_snake }}</h5>
            </div>
            {% endfor %}
            <div class="col text-center">
                <h5>Action</h5>
            </div>
        </div>
        {% for entry, f in entries|zip_lists:forms %}
        <div id="displayed-info-{{entry.pk}}" class="row py-3 border">
            <div class="col text-center">{{ forloop.counter }}</div>
            {% for attribute in entry.get_attributes %}
            {% if attribute == 'amount' %}
            <div class="col text-center">${{ entry|get_obj_attr:attribute|intcomma }}</div>
            {% else %}
            <div class="col text-center">{{ entry|get_obj_attr:attribute }}</div>
            {% endif %}
            {% endfor %}
            <div class="col text-center">
                <div class="d-flex w-100 justify-content-center">
                    <a data-toggle="collapse" data-target="#form-{{forloop.counter}}"
                        class="fas fa-edit text-primary cursor-pointer">
                    </a>
                </div>
            </div>
        </div>
        <form id="edit-form-{{entry.pk}}" method="POST" action="/gettingstarted/{{title|lower}}/{{entry.pk}}">
            <div class="row collapse py-3 border bg-light" id="form-{{forloop.counter}}">
                {% csrf_token %}
                <div class="col d-flex justify-content-center text-center">
                    <i class="fas fa-wrench text-dark align-self-center wrench"></i>
                </div>
                {% for fld in f.visible_fields %}
                <div class="col text-center">{{ fld }}</div>
                {% endfor %}
                <div class="col d-flex flex-column justify-content-between text-center">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary fas fa-save"></button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="initDelete({{entry.pk}})"
                            class="btn btn-danger fas fa-trash-alt"></button>
                    </div>
                </div>
                <div id="alerts-container-{{entry.pk}}" class="d-none col-12 pt-5">
                    {% include "getting started/alerts.html" %}
                </div>
            </div>
        </form>
        {% endfor %}
        <form method="POST" action="/gettingstarted/new/{{title|lower}}">
            <div class="row py-3 border rounded-bottom">
                {% csrf_token %}
                <div class="col d-flex flex-column justify-content-center text-center">
                    <i class="fas fa-plus-square text-dark wrench"></i>
                </div>
                {% for field in form.visible_fields %}
                <div class="col text-center">{{ field }}</div>
                {% endfor %}
                <div class="col text-center">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary fas fa-save"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .wrench {
        font-size: 1.5rem;
    }
</style>
<script>
    function initDelete(n) {
        $(`#alerts-container-${n}`).removeClass('d-none');
        $(`#delete-warning-alert-${n}`).removeClass('d-none');
    }

    function editFormElements(n) {
        $(`#fetch-alert-${n}`).addClass('d-none');
        $(`#success-alert-${n}`).removeClass('d-none');
        $(`#edit-form-${n} button[type="button"]`).prop('disabled', true);
        $(`#edit-form-${n} :input`).prop('disabled', true)
    }

    function changeDisplayedRow(n) {
        $(`#displayed-info-${n} > .col`)
            .contents()
            .filter(()=> {return this.nodeType !== 1 || type(this)}).wrap("<strike>");
        $(`#displayed-info-${n}`).addClass('bg-disabled')
    }

    function deleteRequest(n) {
        const end_point = getEndPoint();
        const url = `/gettingstarted/${end_point}/${n}`
        const header = {
            "method":'DELETE',
            "credentials": 'include',
            "headers":
            {
                "X-CSRFToken": getCookie("csrftoken"),
                "Accept": "application/json",
                "Content-Type": "application/json",
            }
        };
        $(`#delete-warning-alert-${n}`).addClass('d-none');
        $(`#fetch-alert-${n}`).removeClass('d-none');
        fetch(url, header)
            .then(res => res.json())
            .then(data => {
                editFormElements(n);
                changeDisplayedRow(n);
                console.log(data)
                })
            .catch(error => {
                $(`#fetch-alert-${n}`).addClass('d-none');
                $(`#failed-alert-${n}`).removeClass('d-none');
                console.log(error)
            })
    }

    function confirmDelete(n) {
        deleteRequest(n);
    }
</script>
{% endblock %}