{% extends 'common/base.html' %}

{% block content %}

    <div class="d-flex flex-column align-items-center mb-3">
        <h1>Getting Started:</h1>
        <h3>{{ title }}</h3>
    </div>
    <div class="desktop-only">
        {% include "getting started/desktop-table.html" %}
    </div>
    <div class="mobile-only">
        {% include "getting started/mobile-table.html" %}
    </div>
    {% include "getting started/navigators.html" %}

    <style>
        @media only screen and (max-width: 767px) {
            .desktop-only {
                display: none;
            }
        }

        @media only screen and (min-width: 767px) {
            .mobile-only {
                display: none;
            }
        }
        .table td, tr, th {
            border-color: black !important;
        }

        input[type=text], input[type=number] {
            width: 100%; 
            box-sizing: border-box;
            -webkit-box-sizing:border-box;
            -moz-box-sizing: border-box;
        }

        input[type=checkbox] {
            margin: 0rem !important;
            padding: 0rem !important;
        }

        .custom-select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
    <script>
    $(document).ready(function() {
        function customizeForms() {
            $(':input').each(function(){
                const classDict = {
                    text: 'form-control',
                    number: 'form-control',
                    selectone: 'custom-select',
                    checkbox: 'form-check-input',
                }
                const input = $(this);
                const key = input[0].type.replace('-', '')
                if(Object.keys(classDict).includes(key)) input.addClass(classDict[key])
            })
        }
        customizeForms()
    });
</script>
{% endblock %}