{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load budget_tags %}
{% load humanize %}
{% block content %}
<div class="d-flex flex-column align-items-center mb-3">
    <h1>Getting Started:</h1>
    <h3>{{ title }}</h3>
</div>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Item</th>
            {% for field in form.visible_fields %}
            <th scope="col">{{ field.label_tag }}</th>
            {% endfor %}
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- {% for entry in entries %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                        {% for attribute in entry.get_attributes %}
                            {% if attribute == 'amount' %}
                                <td>${{ entry|get_obj_attr:attribute|intcomma }}</td>
                                {% else %}
                                <td>{{ entry|get_obj_attr:attribute }}</td>
                            {% endif %}
                        {% endfor %}
                    <td>
                        <a href="/gettingstarted/{{end_point}}/{{ entry.id }}">Edit</a>
                    </td> 
                </tr>
            {% endfor %} -->
        <tr>
            <form method="POST">
                {% csrf_token %}
                <th scope="row">Edit</th>
                {% for field in form.visible_fields %}
                <td>{{ field }}</td>
                {% endfor %}
                <td>
                    <button type="submit" class="btn btn-primary mt-3">Commit</button>
                </td>
            </form>
        </tr>
    </tbody>
</table>
{% include "getting started/navigators.html" %}
{% endblock %}