settings-landing-page {
    .config-card {
        width: 12.5rem;
        height: 12.5rem;
    }

    .icon {
        font-size: 4rem;
    }

    .button-borders {
        border-radius: 0.75rem !important;
    }
}