{% load crispy_forms_tags %}
{% load static %}
{% load get_obj_attr %}
{% load zip_lists %}
{% load no_snake %}
{% load humanize %}
{% block content %}
<div class="col-12 col-md-1 border cell-height d-flex align-items-center justify-content-center">
    <span>Item</span>
</div>
{% for field in form.visible_fields %}
<div class="col-12 col-md border cell-height d-flex align-items-center justify-content-center text-center">
    <span>{{ field.name|title|no_snake }}</span>
    <i class="fas fa-question-circle position-top-right tooltip-{{field.name}} cursor-pointer" style="font-size: 0.75rem;"
        data-toggle="tooltip" data-placement="top" title=""></i>
</div>
{% endfor %}
<div class="col-12 col-md-2 border cell-height d-flex align-items-center justify-content-center">
    <span>Action</span>
    <i class="fas fa-question-circle position-top-right tooltip-action cursor-pointer" style="font-size: 0.75rem;"></i>
</div>
<script>
    $(document).ready(function () {
        function getTitle(key) {
            const answerKey = {
                'title': 'Label describing item. Use names you can easily remember.',
                'amount': 'Amount of representing balance earned, owed or accrued.',
                'frequency': 'How frequently does this occur?',
                'last_paid': 'The last time payment was dispersed.',
                'weekdays_only': 'Check this if the payment does not post on the weekend.',
                'account_type': 'Type or category the account belongs to.',
                'action': 'Save changes or delete entry.'
            }
            if (Object.keys(answerKey).includes(key)) return answerKey[key]
            else return ''
        }

        function assignToolTipMessage() {
            const keys = [
                'title',
                'amount',
                'frequency',
                'last_paid',
                'weekdays_only',
                'account_type',
                'action'
            ]

            for (i in keys) {
                $(`.tooltip-${keys[i]}`).data('bs.tooltip', false).tooltip({'title': getTitle(keys[i])})
            }
        }

        assignToolTipMessage()

    })
</script>
{% endblock %}