desktop-table {
    .wrench {
        font-size: 1.5rem;
    }

    .cell-height {
        height: 3.5rem !important;
    }

    .spacer {
        height: 0.75rem;
    }

    .lh-0 {
        line-height: 0;
    }

    input,
    select {
        height: 100% !important;
        text-align: center;
        text-align-last: center;
        -moz-text-align-last: center;
        border-radius: 0rem !important;
    }

    input:hover, select:hover {
        background-color: #e3e3e6;
        cursor: pointer;
    }

    .edit-row {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}