chart-container {
    .carousel-control-next-icon:after {
        content: '>';
        font-size: 35px;
        color: red;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 35px;
        color: red;
    }

    .carousel .carousel-indicators li {
        background-color: #444;
    }

    .carousel .carousel-indicators .active {
        background-color: red;
    }

    .carousel-indicators {
        margin-top: 70px;
    }

    .carousel-inner {
        padding-bottom: 70px;
    }

    .chart {
        height: 400px;
        width: 100%;
    }
}