{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="d-flex row justify-content-between align-items-center p-3 bg-dark footer w-100 m-0 text-light">
    <div class="col-4 d-flex justify-content-center footer-items">
        <a href="#">©Budgeteer</a>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
        <a href="#">Security</a>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <img src="{% static 'img/budgeteericon.png' %}"/>
    </div>
    <div class="col-4 d-flex justify-content-center footer-items">
        <a href="#">Contact</a>
        <a href="#">Pricing</a>
        <a href="#">Blog</a>
        <a href="#">About</a>
    </div>
</div>
<style scoped>
    .footer img {
        width: 3rem;
        height: 3rem;
    }
    @media only screen and (min-width: 968px) {
        div.footer-items > a:not(:last-child) {
            margin-right: 1.25rem;
        }
    }
     @media only screen and (max-width: 968px) {
         .footer-items {
             flex-direction: column;
             align-items: center;
         }
     }
</style>
{% endblock %}