{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Budgeter</title>

  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container-fluid pl-5 pr-5 mb-5">
        <hr class="mt-0 mb-4" />
        {% block content %} 
        {% endblock %}
    </div>
  </body>
</html>
