{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}
    <h1>Yearly Income: ${{ yearly }}</h1>
    {% if total_other %}
        <h1>Income Total: ${{ total_other }}</h1>
    {% endif %}
    {% if end_point == 'Bills' %}
        <h1 style="color: red">{{ end_point }} Total: ${{ total }}</h1>
        {% else %}
            <h1 style="color: green">{{ end_point }} Total: ${{ total }}</h1>        
    {% endif %}
    {% if difference %}
        {% if difference > 0 %}
            <h1 style="color: green">Difference: ${{ difference }}</h1>
        {% else %}
            <h1 style="color: red">Difference: ${{ difference }}</h1>
        {% endif %}
    {% endif %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Item</th>
                {% for field in form.visible_fields %}
                    <th scope="col">{{ field.label_tag }}</th>
                {% endfor %}
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.frequency.title }}</td>
                    <td>{{ entry.last_paid }}</td>
                    <td>
                        <a href="/income/{{ entry.id }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <form method="POST">
                    {% csrf_token %}
                    <th scope="row">New</th>
                    {% for field in form.visible_fields %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    <td>
                        <button type="submit" class="btn btn-primary mt-3">Add</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    <a href="/gettingstarted/bills">Next</a>

{% endblock %}