{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
    tracker = 0
    datas = [
        {
            title: '{{income_debt_ratio_chart.title}}',
            data: {{income_debt_ratio_chart.data|safe}}
        },
        {
            title: '{{debt_ratio_chart.title}}',
            data: {{debt_ratio_chart.data|safe}}
        }
    ]
    function loadChart(chart_data, chart_title) {
        let titleList = chart_title.split('_')
        for(index in titleList) {
            word = titleList[index]
            word = word.charAt(0).toUpperCase() + word.substr(1).toLowerCase()
            titleList[index] = word
        }
        const title = titleList.join(' ')
        var chart = new CanvasJS.Chart('chart', {
            animationEnabled: true,
            title: {
                text: title
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} {y}",
                dataPoints: chart_data
            }]
        });
        chart.render();
    }

    function removeActive(n) {
        $(`#list${n}`).removeClass()
    }

    function addActive(n) {
        $(`#list${n}`).addClass('active')
    }

    function determineIndex(n) {
        if(tracker + n >= 0 && tracker + n < datas.length) tracker += n
        else if(tracker + n < 0) tracker = datas.length - 1
        else tracker = 0
    }

    function refreshChart() {
        $('#chart').remove()
        $('#chartParent').append(`<div id="chart" class="chart"></div>`)

        loadChart(datas[tracker].data, datas[tracker].title)
    }

    function selectSlide(e) {
        const id = parseInt(e.target.id.replace(/\D/g,''))
        removeActive(tracker)
        tracker = id
        loadChart(datas[tracker].data, datas[tracker].title)
        addActive(tracker)
    }

    function switchSlides(n) {
        removeActive(tracker)
        determineIndex(n)
        addActive(tracker)
        refreshChart()
    }

    $( document ).ready(function() {
        loadChart(datas[tracker].data, datas[tracker].title)
    });
</script>
<div class="card p-3 h-100 bg-dark shadowed">
    <h4 class="card-title text-light">Charts</h4>
    <h5 class="card-subtitle mb-3 text-light">Visualizing the budget</h5>
    <div
        id="carouselExampleControls"
        class="carousel slide carousel-fade"
        data-ride="carousel"
        data-interval="false"
        >
        <ol class="carousel-indicators">
            <li onClick="selectSlide(event)" id="list0" data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li onClick="selectSlide(event)" id="list1" data-target="#carouselExampleControls" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active text-center" id="chartParent">
                <div id="chart" class="chart"></div>
            </div>
        </div>
        <a class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
            onclick="switchSlides(-1)"
            >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a onclick="switchSlides(1)" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <style>
        .carousel-control-next-icon:after {
                content: '>';
                font-size: 35px;
                color: red;
            }

        .carousel-control-prev-icon:after {
            content: '<';
            font-size: 35px;
            color: red;
            }
        .carousel .carousel-indicators li {
            background-color: red;
            }

        .carousel .carousel-indicators .active {
            background-color: #444;
            }

        .carousel-indicators {
            margin-top: 70px;
            }
        .carousel-inner {
            padding-bottom:70px;
            }

        .chart {
            height: 400px;
            width: 100%;
        }
    </style>
{% endblock %}