{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load budget_tags %}
{% load humanize %}
{% block content %}
    <h1>Dashboard</h1>
    {% include "dashboard/money_bar.html" %}
    <div class="pl-3 pr-3">
        <div class="row">
            <div class="col-4 p-0 pr-md-3">
                {% include "dashboard/check_in.html" %}
            </div>
            <div class="col-8 p-0">
                {% include "dashboard/chart.html" %}
            </div>
        </div>
    </div>
{% endblock %}